body {
    background-color: #211F60;
    color: #e2e2e2;
    overflow-x: hidden;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-panel {
    background: rgba(168, 232, 249, 0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(168, 232, 249, 0.2);
}

.neon-glow-pink {
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.4);
}

.neon-glow-blue {
    box-shadow: 0 0 15px rgba(168, 232, 249, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ff69b4;
    border-radius: 10px;
}